body {
  font-family:arial;
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-size: cover;
}

a {
  color:black;
}

u {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

.pavadinimas, .apie, .versija, .parsisiuntimai, .DUK, .gitHub {
  margin-bottom: 20px;
  background: #D5D5E1;
  padding: 10px;
}

.gitHub {
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}
.gitHub > img {
  margin-right: 20;
}

.pavadinimas {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4286f4, #DDDDFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4286f4, #DDDDFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family:impact;
  text-align:right;
  letter-spacing:5px;
  padding:0;
}

h1, h2, h3 {
  margin:0px;
}

.DUK h3 {
  text-align:center;
  margin-bottom:10px;
  margin-top: 10px;
}

h2, h4 {
  text-align:center;
  margin-bottom: 20px;
}

.versija {
  text-align:center;
}

.credits {
  text-align:right;
  font-family: courier;
}

.slide {
  display: none;
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

.demo {
  background: #FFFFFF;
  opacity:0.6;
}
.demo:hover {
  opacity:1.0;
}

.preview {
  margin-bottom: 10px;
}

.opacity-off {
  opacity:1.0;
}

.aprasymas {
  font-family:courier;
  margin-top: 13px;
  margin-bottom: 13px;
}

#senesni {
  display: none;
}

#toggleOlder {
  padding-top: 10px;
  padding-bottom: 10px;
}

.darkBackground {
  background: #BFBDCB;
}

.disabled {
  display: none;
}

.DC {
  display: inline;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 11pt;
}
